<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- Definición de las secciones de configuración -->
	<configSections>
		<!-- Para más información sobre la configuración de Entity Framework -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>

	<!-- Cadena de conexión a la base de datos -->
	<connectionStrings>
		<add name="conexionAgenda"
			 connectionString="Data Source=LAPTOP-LNBFIBH1\SQLEXPRESS;Initial Catalog=AgendaDB;Integrated Security=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<!-- Configuración de Entity Framework -->
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient"
					  type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>
